@model Order

<h2>Complete Order</h2>
<h6>Please enter your details in the given form:</h6>
 <div class="row mb-5">
     <form asp-action="Checkout" method="post" class="form-horizontal">
         <div class="form-group">
             <label asp-for="name">NAME:</label>
             <div class="col-12">
                 <input asp-for="name" class="form-control" required/>
                 <span asp-validation-for="name" class="text-danger"></span>
             </div>
         </div>
         <div class="form-group">
             <label asp-for="surname">SURNAME:</label>
             <div class="col-12">
                 <input asp-for="surname" class="form-control" required/>
                 <span asp-validation-for="surname" class="text-danger"></span>
             </div>
         </div>
         <div class="form-group">
             <label asp-for="adress">ADRESS:</label>
             <div class="col-12">
                 <input asp-for="adress" class="form-control" required/>
                 <span asp-validation-for="adress" class="text-danger"></span>
             </div>
         </div>
         <div class="form-group">
             <label asp-for="phone">PHONE:</label>
             <div class="col-12">
                 <input asp-for="phone" class="form-control" required/>
                 <span asp-validation-for="phone" class="text-danger"></span>
             </div>
         </div>
         <div class="form-group">
             <label asp-for="email">EMAIL:</label>
             <div class="col-12">
                 <input asp-for="email" class="form-control" required/>
                 <span asp-validation-for="email" class="text-danger"></span>
             </div>
         </div>
         <input class="btn btn-success" type="submit" value="Place Order"/>
     </form>
 </div>